*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  /* image-rendering: pixelated; */
  /* image-rendering: crisp-edges; */

  text-shadow: 0 0 3px #25252500, 0 0 5px #0000ff00;
  font-family: Nunito;
}

.text-custom{
  color:rgba(73, 72, 72, 0.071);
  filter: blur(1000);
}
.filter{
  filter: brightness(120px) contrast(300%) hue-rotate(30deg);
  background:rgba(0, 0, 0, 0.016);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}